      <aside
  :class="sidebarToggle ? 'translate-x-0 xl:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed top-0 left-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-auto border-r border-gray-200 bg-white px-5 transition-all duration-300 xl:static xl:translate-x-0 dark:border-gray-800 dark:bg-black"
  @click.outside="sidebarToggle = false"
>
  <!-- SIDEBAR HEADER -->
  <div
    :class="sidebarToggle ? 'justify-center' : 'justify-between'"
    class="sidebar-header flex items-center gap-2 pt-8 pb-7"
  >
    <a href="{{ path(app.user and app.user.isCoach() ? 'admin_dashboard' : 'app_dashboard') }}" class="flex items-center gap-2 whitespace-nowrap min-w-0">
      <span class="logo flex items-center gap-2 whitespace-nowrap flex-shrink-0" :class="sidebarToggle ? 'hidden' : ''">
        <img src="{{ asset('sara.png') }}" alt="SARA" class="h-8 w-auto flex-shrink-0" />
        <span class="text-lg font-bold whitespace-nowrap flex-shrink-0" style="color: rgb(32, 129, 74);">SARA</span>
      </span>

      <img
        class="logo-icon h-8 w-auto flex-shrink-0"
        :class="sidebarToggle ? 'xl:block' : 'hidden'"
        src="{{ asset('sara.png') }}"
        alt="SARA"
      />
    </a>
  </div>
  <!-- SIDEBAR HEADER -->

  <div
    class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
  >
    <!-- Sidebar Menu -->
    <nav x-data="{selected: $persist('Dashboard')}">
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
          <span
            class="menu-group-title"
            :class="sidebarToggle ? 'xl:hidden' : ''"
          >
            MENU
          </span>

          <svg
            :class="sidebarToggle ? 'xl:block hidden' : 'hidden'"
            class="menu-group-icon mx-auto fill-current"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z"
              fill="currentColor"
            />
          </svg>
        </h3>

        <ul class="mb-6 flex flex-col gap-1">
          <!-- Menu Item Dashboard -->
          <li>
            <a
              href="{{ path(app.user and app.user.isCoach() ? 'admin_dashboard' : 'app_dashboard') }}"
              @click="selected = (selected === 'Dashboard' ? '':'Dashboard')"
              class="menu-item group"
              :class="page === 'blank' || page === 'dashboard' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'blank' || page === 'dashboard' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.5 3.25C4.25736 3.25 3.25 4.25736 3.25 5.5V8.99998C3.25 10.2426 4.25736 11.25 5.5 11.25H9C10.2426 11.25 11.25 10.2426 11.25 8.99998V5.5C11.25 4.25736 10.2426 3.25 9 3.25H5.5ZM4.75 5.5C4.75 5.08579 5.08579 4.75 5.5 4.75H9C9.41421 4.75 9.75 5.08579 9.75 5.5V8.99998C9.75 9.41419 9.41421 9.74998 9 9.74998H5.5C5.08579 9.74998 4.75 9.41419 4.75 8.99998V5.5ZM5.5 12.75C4.25736 12.75 3.25 13.7574 3.25 15V18.5C3.25 19.7426 4.25736 20.75 5.5 20.75H9C10.2426 20.75 11.25 19.7427 11.25 18.5V15C11.25 13.7574 10.2426 12.75 9 12.75H5.5ZM4.75 15C4.75 14.5858 5.08579 14.25 5.5 14.25H9C9.41421 14.25 9.75 14.5858 9.75 15V18.5C9.75 18.9142 9.41421 19.25 9 19.25H5.5C5.08579 19.25 4.75 18.9142 4.75 18.5V15ZM12.75 5.5C12.75 4.25736 13.7574 3.25 15 3.25H18.5C19.7426 3.25 20.75 4.25736 20.75 5.5V8.99998C20.75 10.2426 19.7426 11.25 18.5 11.25H15C13.7574 11.25 12.75 10.2426 12.75 8.99998V5.5ZM15 4.75C14.5858 4.75 14.25 5.08579 14.25 5.5V8.99998C14.25 9.41419 14.5858 9.74998 15 9.74998H18.5C18.9142 9.74998 19.25 9.41419 19.25 8.99998V5.5C19.25 5.08579 18.9142 4.75 18.5 4.75H15ZM15 12.75C13.7574 12.75 12.75 13.7574 12.75 15V18.5C12.75 19.7426 13.7574 20.75 15 20.75H18.5C19.7426 20.75 20.75 19.7427 20.75 18.5V15C20.75 13.7574 19.7426 12.75 18.5 12.75H15ZM14.25 15C14.25 14.5858 14.5858 14.25 15 14.25H18.5C18.9142 14.25 19.25 14.5858 19.25 15V18.5C19.25 18.9142 18.9142 19.25 18.5 19.25H15C14.5858 19.25 14.25 18.9142 14.25 18.5V15Z"
                  fill="currentColor"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Dashboard
              </span>
            </a>
          </li>
          <!-- Menu Item Dashboard -->

          <!-- Menu Item Familles -->
          {% if app.user and (app.user.isCoach() or app.user.isParent()) %}
          <li>
            <a
              href="{{ path("admin_families_list") }}"
              @click="selected = (selected === 'Familles' ? '':'Familles')"
              class="menu-item group"
              :class="page === 'families' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'families' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Familles
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Familles -->

          <!-- Menu Item Mes demandes (Spécialiste) -->
          {% if app.user and app.user.isSpecialist() %}
          <li>
            <a
              href="{{ path("admin_requests_list") }}?specialist={{ app.user.id }}"
              @click="selected = (selected === 'Mes demandes' ? '':'Mes demandes')"
              class="menu-item group"
              :class="page === 'requests' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'requests' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Mes demandes
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Mes demandes (Spécialiste) -->

          <!-- Menu Item Objectifs -->
          {% if app.user and (app.user.isCoach() or app.user.isParent() or app.user.isStudent() or app.user.isSpecialist()) %}
          <li>
            <a
              href="{{ path("admin_objectives_list") }}"
              @click="selected = (selected === 'Objectifs' ? '':'Objectifs')"
              class="menu-item group"
              :class="page === 'objectives' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'objectives' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Objectifs
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Objectifs -->

          <!-- Menu Item Activités -->
          {% if app.user and (app.user.isCoach() or app.user.isParent() or app.user.isStudent() or app.user.isSpecialist()) %}
          <li>
            <a
              href="{{ path("admin_activities_list") }}"
              @click="selected = (selected === 'Activités' ? '':'Activités')"
              class="menu-item group"
              :class="page === 'activities' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'activities' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2L2 7L12 12L22 7L12 2Z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 17L12 22L22 17"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 12L12 17L22 12"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Activités
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Activités -->

          <!-- Menu Item Activités scolaires -->
          {% if app.user and (app.user.isCoach() or app.user.isParent() or app.user.isStudent() or app.user.isSpecialist()) %}
          <li>
            <a
              href="{{ path("admin_paths_list") }}"
              @click="selected = (selected === 'Activités scolaires' ? '':'Activités scolaires')"
              class="menu-item group"
              :class="page === 'paths' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'paths' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Activités scolaires
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Activités scolaires -->

          <!-- Menu Item Demandes -->
          <li>
            <a
              href="{{ path("admin_requests_list") }}"
              @click="selected = (selected === 'Demandes' ? '':'Demandes')"
              class="menu-item group"
              :class="page === 'requests' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'requests' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Soutien à distance
              </span>
                  </a>
                </li>
          <!-- Menu Item Demandes -->

          <!-- Menu Item Spécialistes -->
          {% if app.user and app.user.isCoach() %}
          <li>
            <a
              href="{{ path("admin_specialists_list") }}"
              @click="selected = (selected === 'Spécialistes' ? '':'Spécialistes')"
              class="menu-item group"
              :class="page === 'specialists' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'specialists' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Spécialistes
              </span>
                  </a>
                </li>
          {% endif %}
          <!-- Menu Item Spécialistes -->

          <!-- Menu Item Planning -->
          {% if app.user and (app.user.isCoach() or app.user.isParent() or app.user.isStudent() or app.user.isSpecialist()) %}
                <li>
                  <a
              href="{{ path("admin_planning_list") }}"
              @click="selected = (selected === 'Planning' ? '':'Planning')"
              class="menu-item group"
              :class="page === 'planning' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'planning' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 2C8.41421 2 8.75 2.33579 8.75 2.75V3.75H15.25V2.75C15.25 2.33579 15.5858 2 16 2C16.4142 2 16.75 2.33579 16.75 2.75V3.75H18.5C19.7426 3.75 20.75 4.75736 20.75 6V9V19C20.75 20.2426 19.7426 21.25 18.5 21.25H5.5C4.25736 21.25 3.25 20.2426 3.25 19V9V6C3.25 4.75736 4.25736 3.75 5.5 3.75H7.25V2.75C7.25 2.33579 7.58579 2 8 2ZM8 5.25H5.5C5.08579 5.25 4.75 5.58579 4.75 6V8.25H19.25V6C19.25 5.58579 18.9142 5.25 18.5 5.25H16H8ZM19.25 9.75H4.75V19C4.75 19.4142 5.08579 19.75 5.5 19.75H18.5C18.9142 19.75 19.25 19.4142 19.25 19V9.75Z"
                  fill="currentColor"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Planning
              </span>
            </a>
          </li>
          {% endif %}
          <!-- Menu Item Planning -->

          <!-- Menu Item Disponibilités -->
          {# <li>
            <a
              href="{{ path("admin_availabilities_list") }}"
              @click="selected = (selected === 'Disponibilités' ? '':'Disponibilités')"
              class="menu-item group"
              :class="page === 'availabilities' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'availabilities' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Disponibilités
              </span>
                  </a>
                </li> #}
          <!-- Menu Item Disponibilités -->


          {# 
            Menu Item ETN (Espace Numérique de Travail) - DÉSACTIVÉ
            - Visible pour : Coach, Parent, Élève, Spécialiste
            - Redirige vers la page de gestion des intégrations (admin_integrations_list)
            - L'icône représente des flèches de synchronisation/échange de données
            - L'item est actif quand la page courante est 'integrations'
            TODO: Réactiver quand la fonctionnalité ETN sera prête
            Pour réactiver : changer "false" en "true" dans la condition ci-dessous
          #}
          {% if false and app.user and (app.user.isCoach() or app.user.isParent() or app.user.isStudent() or app.user.isSpecialist()) %}
          <li>
            <a
              href="{{ path("admin_integrations_list") }}"
              @click="selected = (selected === 'ETN' ? '':'ETN')"
              class="menu-item group"
              :class="page === 'integrations' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'integrations' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 9l4-4 4 4M8 15l4 4 4-4"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                ETN
              </span>
            </a>
          </li>
          {% endif %}

          <!-- Menu Item Utilisateurs (Admin uniquement) -->
          {% if app.user and app.user.isAdmin() %}
          <li>
            <a
              href="{{ path("admin_users_list") }}"
              @click="selected = (selected === 'Users' ? '':'Users')"
              class="menu-item group"
              :class="page === 'users' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'users' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle
                  cx="9"
                  cy="7"
                  r="4"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M23 21v-2a4 4 0 0 0-3-3.87"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16 3.13a4 4 0 0 1 0 7.75"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Utilisateurs
              </span>
            </a>
          </li>
          {% endif %}

          <!-- Menu Item Profil Utilisateur -->
                <li>
                  <a
              href="{{ path("admin_profile") }}"
              @click="selected = (selected === 'Profile' ? '':'Profile')"
              class="menu-item group"
              :class="page === 'profile' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'profile' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 14.1526 4.3002 16.1184 5.61936 17.616C6.17279 15.3096 8.24852 13.5955 10.7246 13.5955H13.2746C15.7509 13.5955 17.8268 15.31 18.38 17.6167C19.6996 16.119 20.5 14.153 20.5 12C20.5 7.30558 16.6944 3.5 12 3.5ZM17.0246 18.8566V18.8455C17.0246 16.7744 15.3457 15.0955 13.2746 15.0955H10.7246C8.65354 15.0955 6.97461 16.7744 6.97461 18.8455V18.856C8.38223 19.8895 10.1198 20.5 12 20.5C13.8798 20.5 15.6171 19.8898 17.0246 18.8566ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9991 7.25C10.8847 7.25 9.98126 8.15342 9.98126 9.26784C9.98126 10.3823 10.8847 11.2857 11.9991 11.2857C13.1135 11.2857 14.0169 10.3823 14.0169 9.26784C14.0169 8.15342 13.1135 7.25 11.9991 7.25ZM8.48126 9.26784C8.48126 7.32499 10.0563 5.75 11.9991 5.75C13.9419 5.75 15.5169 7.32499 15.5169 9.26784C15.5169 11.2107 13.9419 12.7857 11.9991 12.7857C10.0563 12.7857 8.48126 11.2107 8.48126 9.26784Z"
                  fill="currentColor"
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'xl:hidden' : ''"
              >
                Profil
              </span>
                  </a>
                </li>
          <!-- Menu Item Profil Utilisateur -->
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->

    <!-- App Description -->
    <div
      :class="sidebarToggle ? 'xl:hidden' : ''"
      class="mx-auto mb-10 w-full max-w-60 rounded-2xl bg-gray-50 px-4 py-5 text-center dark:bg-white/[0.03]"
    >
      <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">
        SARA
      </h3>
      <p class="text-theme-sm mb-4 text-gray-500 dark:text-gray-400">
        Plateforme d'accompagnement éducatif pour suivre les objectifs, gérer les tâches et faciliter la communication entre les familles, les élèves et les professionnels.
      </p>
    </div>
    <!-- App Description -->
  </div>
</aside>

      <!-- ===== Sidebar End ===== -->

      <!-- ===== Content Area Start ===== -->
      <div
        class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto"
      >
        <!-- Small Device Overlay Start -->
        <div
  :class="sidebarToggle ? 'block xl:hidden' : 'hidden'"
  class="fixed z-50 h-screen w-full bg-gray-900/50"
></div>
<!-- Small Device Overlay End -->
